:ruby
  trips = @lite_incidental_trips

.panel.expandable.panel-warning#lite_incidental_trips_panel
  .panel-heading
    .pull-right
      - if can?(:new, Trip)
        %span.dispatch-action
          = link_to 'Add Incidental Trip', new_lite_lite_incidental_trip_path, class: "btn action-button"
    %h3.panel-title
      = render 'lite/lite_incidental_trips/panel_title'

  .panel-body
    = render 'lite/lite_incidental_trips/table', trips: trips